<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->

  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.css">
   <!--<link rel="stylesheet" href="/css/owl.theme.default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous"/>-->
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link href="/css/style.css" rel="stylesheet">
  <!--<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>-->
</head>
<body>
  <!--Preloader-->
  <div id="preloader"></div>

  <header class="mb-auto">
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-lg bg-transparent">
        <div class="container-fluid">
          <a href="#" class="navbar-brand"><img src="/images/Mylogo.jpg" alt="logo" id="logo"></a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/users/homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/Aboutus">Aboutus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/Contactus">Contact US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/users/Academics">Academics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/Subjects">Subjects</a>
              </li>
            </ul>
          </div>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/users/logout" class="nav-item nav-link">Logout</a>
              </li>  
            </ul>
        </div>
      </nav>
    </div>
  <!--the owl carousel-->
  <div class="hero">
    <div class="owl-carousel owl-theme">
      <div class="item">
          <img src="/images/autumn-leaves-4633854_960_720.jpg" alt="images not found">
          <div class="cover">
            <div class="container">
              <div class="header-content">
                  <div class="line"></div>
                        <h2>Hello WIlson Digital Experience </h2>
                        <h1>Start-ups and solutions</h1>
                        <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                    </div>
                </div>
            </div>
        </div>                    
        <div class="item">
            <img src="https://cdn.pixabay.com/photo/2019/11/18/02/41/autumn-leaves-4633854_960_720.jpg" alt="images not found">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line animated bounceInLeft"></div>
                        <h2>Duku with Digital Experience</h2>
                        <h1>Intelligent solutions</h1>
                        <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                    </div>
                </div>
            </div>
        </div>                
        <div class="item">
            <img src="https://cdn.pixabay.com/photo/2020/04/16/02/44/dandelion-5048825_960_720.jpg" alt="images not found">
            <div class="cover">
                <div class="container">
                    <div class="header-content">
                        <div class="line animated bounceInLeft"></div>
                        <h2>Mogga with Digital Experience</h2>
                        <h1>Intelligent Solutions</h1>
                        <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </header>

<!--Another section-->
    <section class="py-5 py-xl-8">

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7">
            <h4 class="fs-4 mb-2 text-secondary text-center text-uppercase">What We Do?</h4>
            <h3 class="mb-5 text-center">We are giving you perfect solutions with our proficient services.</h3>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
          </div>
        </div>
      </div>

      <div class="container" >
        
          <div class="row gy-4 gy-xl-0">
            <div class="col-12 col-md-4">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body text-center p-4 p-xxl-5">
                  <img src="/images/icons8-mission-50.png" alt="mission" class="mb-4" height="60px" width="60px">
                  <h4 class="mb-4">INTRODUCTION</h4>
                  <p class="mb-4 text-secondary">To develop academic and other talents in a student. Because Education is the passport to the
                    future, for tomorrow belongs to those who prepare for it. We also see independent students who later create jobs instead of
                    seek jobs.</p>
                  <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body text-center p-4 p-xxl-5">
                  <img src="/images/icons8-mission-50.png" alt="mission" class="mb-4" height="60px" width="60px">
                  <h4 class="mb-4">OUR MISSION</h4>
                  <p class="mb-4 text-secondary">To develop academic and other talents in a student. Because Education is the passport to the
                    future, for tomorrow
                    belongs to those who prepare for it. We also see independent students who later create jobs instead of
                    seek jobs.</p>
                  <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card border-0 border-bottom border-primary shadow-sm">
                <div class="card-body text-center p-4 p-xxl-5">
                  <img src="/images/icons8-mission-50.png" alt="mission" class="mb-4" height="60px" width="60px">
                  <h4 class="mb-4">Academic background</h4>
                  <p class="mb-4 text-secondary">Our school has been one of the leading schools in the district in both ordinary and advanced
                    levels, all thinks to the efforts of our dedicated teacheing staff equip students with all they need to
                    excel and also non-teaching staff.</p>
                  <a href="#!" class="fw-bold text-decoration-none link-primary">
                    Learn More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-60">
            <div class="col-md-12">
                <div class="mb-30">
                    <img src="/images/Library.jpg" alt="" width="100%" height="600px" >
                </div>
            </div>
        </div>

      </div>
    </section>

    <!--Popular courses-->
    <section class="our-courses" id="courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading text-center mb-4">
              <h2>Our Popular Courses</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="owl-courses-item owl-carousel">
              <div class="item">
                <img src="/images/course-04.jpg" alt="Course One">
                <div class="down-content">
                  <h4>Morbi tincidunt elit vitae justo rhoncus</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$160</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="Course Two">
                <div class="down-content">
                  <h4>Curabitur molestie dignissim purus vel</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$180</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Nulla at ipsum a mauris egestas tempor</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$140</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Aenean molestie quis libero gravida</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$120</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Lorem ipsum dolor sit amet adipiscing elit</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$250</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>TemplateMo is the best website for Free CSS</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$270</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Web Design Templates at your finger tips</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$340</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Please visit our website again</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$360</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Responsive HTML Templates for you</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$400</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Download Free CSS Layouts for your business</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$430</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Morbi in libero blandit lectus cursus</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$480</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <img src="/images/course-04.jpg" alt="">
                <div class="down-content">
                  <h4>Curabitur molestie dignissim purus</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                         <span>$560</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  

        <!-- counter start -->
        <div class="bg-white py-md-5 mb-4">
          <div class="container pt-90 pb-65">
              <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3">
                      <div class="couter-wrapper mb-30 text-center">
                          <img src="/images/icons8-mission-50.png" alt="">
                          <span class="counter">10532</span>
                          <h3>Satisfied Students</h3>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                      <div class="couter-wrapper mb-30 text-center">
                          <img src="/images/icons8-mission-50.png" alt="">
                          <span class="counter">7985</span>
                          <h3>Courses Complated</h3>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                      <div class="couter-wrapper mb-30 text-center">
                          <img src="/images/icons8-mission-50.png" alt="">
                          <span class="counter">5382</span>
                          <h3>Satisfied Students</h3>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3">
                      <div class="couter-wrapper mb-30 text-center">
                          <img src="/images/icons8-mission-50.png" alt="">
                          <span class="counter">354</span>
                          <h3>Expert Advisors</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--Footer section-->
      <footer class="footer">
        <div class="bg-light py-3 py-md-4 py-xl-8 border-top border-light-subtle">
        <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>

        <ul class="nav justify-content-center mt-2">
            <li class="nav-item">
              <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                  <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
    
      </div>
        </div>

        <div class="bg-light py-3 py-md-4 border-top border-light-subtle">
          <div class="container overflow-hidden">
            
              
                <div class="footer-copyright-wrapper text-center">
                  &copy; 2024. All Rights Reserved.
                </div>
                <div class="credits text-secondary text-center mt-2 fs-7">
                  WILSONH <a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">SEC</a> SCHOOL 
                </div> 
          </div>
        </div>  
      </footer>

    <!--Scroll to top-->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
    

      <script src="/js/modernizr-3.5.0.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <!--<script src="js/slick.min.js"></script>-->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/owl-carousel.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/jquery.waypoints.min.js"></script>
      <script src="/js/jquery.counterup.min.js"></script>

      <script src="/js/main.js"></script>

</body>
</html>