.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(3, 3, 3);
  text-shadow: none; 
}


body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('Bgimage.jpeg');
  background-position: absolute;
  background-size: cover;
}
.lead,.px-3{
  color: black;
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: black;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
  clear: both;
}

.navbar {
  margin-bottom: 20px;
}
.title,#suplex{
  text-align: center;
}
#logo{
  border-radius: 50%;
  width: 100px;
  
}
.row{
  margin-top: 30px;
}
.col-md-4{
  margin: 40px auto;
}
.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
}
.Aboutsection,#message{
  padding: 70px 10px 10px;
  background-color: steelblue;
  border-radius: 30px;
  border: 10px solid white;
  margin-top: 50px;
}
#owl{
  position: absolute;
  width: 100px;
  height: auto;
}
  
.profile,.Aboutsection p{
  text-align: justify;
}
.profile img{
  top: 400px;
  position: absolute;
  left: calc(50px -50px);
  border: 10px solid white;
}
.user{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#library{
  padding: 0px 10px 10px;
  background-color: steelblue;
  border: 10px solid white;
  border-radius: 30px;
}
input[type='text'],input[type='date'],input[type='email'],#sex{
    border-radius:15px; 
}
.passportp{
  background: white;
  border: 3px solid black;
  position: absolute;
  top: 380px;
  right: 120px;
  padding: 10px;
  width: 3.5cm;
  height: 4cm;
  padding: 25px 25px ;
}



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


  





