<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<title>Subjects</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<link rel = "stylesheet" href="/css/bootstrap.min.css"/>
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">-->
<link href="/css/fontawesome.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <!--Preloader-->
  <div id="preloader"></div>


  <header class="mb-auto">
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light shadow-lg text-white ">
          <div class="container-fluid">
            <a href="#" class="navbar-brand"><img src="/images/Mylogo.jpg" alt="logo" id="logo"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="/users/homepage">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/Aboutus">Aboutus</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/Contactus">Contact US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/users/Academics">Academics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/Subjects">Subjects</a>
                </li>
              </ul>
            </div>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a href="/users/login" class="nav-item nav-link">Logout</a>
                </li>
                
              </ul>
          
          </div>
        </nav>
    </div>
</header>

<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.8);">
  <div class="d-flex justify-content-around align-items-center h-100">
     <div class="text-white text-center">
        <h1 class="mb-3">Our Subjects</h1>
        <h4 class="mb-3">Know me about what makes us unique</h4> 
    </div>
  </div>
  </div>
</div>


    <section class="py-3 py-md-5">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center p-xxl-5">
                <div class="col-xl-8 col-lg-8">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 justify-content-center mb-4">
                            <div class="card border-0 w-75">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Phyiscs</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 w-75">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">English Studies</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img"></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Biology</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">C.R.E</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Commerce</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Literature</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Chemistry</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-4">
                            <div class="card border-0 mb-30">
                                <div class="card-img-top">
                                    <a href="course_details.html"><img src="/images/CLab.jpg" class="img" alt=""></a>
                                </div>
                                <div class="card-body bg-white clearfix">
                                    <div class="courses-heading mt-25 d-flex">
                                        <div class="card-title">
                                            <h1><a href="course_details.html">Mathematics</a></h1>
                                        </div>
                                        <div class="ms-auto">
                                            <span>$24.99</span>
                                        </div>
                                    </div>
                                    <div class="courses-para mt-15">
                                        <p>Maecenas fermentum consequat mi fonec has fermentum ellentesque malesuada.</p>
                                    </div>
                                    <div class="courses-wrapper-bottom clearfix mt-35">
                                        <div class="courses-button">
                                            <a href="course_details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <nav class="course-pagination mb-30" aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="#"><span class="ti-angle-left"></span></a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><span class="ti-angle-right"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="courses-details-sidebar-area">
                        <div class="widget mb-40 white-bg">
                            <div class="sidebar-form w-75">
                                <form action="#">
                                    <input class="form-control" placeholder="Search course" type="text">
                                    <button type="submit">
                                        <i class="ti-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="widget mb-40 widget-padding white-bg">
                            <h4 class="widget-title">Category</h4>
                            <div class="widget-link">
                                <ul class="sidebar-link">
                                    <li>
                                        <a href="#">Busines Studies</a>
                                        <span>05</span>
                                    </li>
                                    <li>
                                        <a href="#">CSE Engineering</a>
                                        <span>07</span>
                                    </li>
                                    <li>
                                        <a href="#">Lerning English</a>
                                        <span>03</span>
                                    </li>
                                    <li>
                                        <a href="#">Civil Engineering</a>
                                        <span>05</span>
                                    </li>
                                    <li>
                                        <a href="#">Islamic Studies</a>
                                        <span>02</span>
                                    </li>
                                    <li>
                                        <a href="#">Banking Management</a>
                                        <span>09</span>
                                    </li>
                                    <li>
                                        <a href="#">Social Science</a>
                                        <span>13</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-40 widget-padding white-bg">
                            <h4 class="widget-title">Recent Course</h4>
                            <div class="sidebar-rc-post">
                                <ul>
                                    <li>
                                        <div class="sidebar-rc-post-main-area d-flex mb-20">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html">
                                                    <img src="/img/courses/rcourses_thumb01.png" alt="">
                                                </a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h4>
                                                    <a href="blog-details.html">How to design mobile apps with full resposibe layout</a>
                                                </h4>
                                                <div class="widget-advisors-name">
                                                    <span>Advisor : <span class="f-500">Marcelo</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-rc-post-main-area d-flex mb-20">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html">
                                                    <img src="/img/courses/rcourses_thumb02.png" alt="">
                                                </a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h4>
                                                    <a href="blog-details.html">How to design mobile apps with full resposibe layout</a>
                                                </h4>
                                                <div class="widget-advisors-name">
                                                    <span>Advisor : <span class="f-500">Marcelo</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-rc-post-main-area d-flex mb-20">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html">
                                                    <img src="/img/courses/rcourses_thumb03.png" alt="">
                                                </a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h4>
                                                    <a href="blog-details.html">How to design mobile apps with full resposibe layout</a>
                                                </h4>
                                                <div class="widget-advisors-name">
                                                    <span>Advisor : <span class="f-500">Marcelo</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar-rc-post-main-area d-flex">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html">
                                                    <img src="/img/courses/rcourses_thumb04.png" alt="">
                                                </a>
                                            </div>
                                            <div class="rc-post-content">
                                                <h4>
                                                    <a href="blog-details.html">How to design mobile apps with full resposibe layout</a>
                                                </h4>
                                                <div class="widget-advisors-name">
                                                    <span>Advisor : <span class="f-500">Marcelo</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-40 widget-padding white-bg">
                            <h4 class="widget-title">Recent Course</h4>
                            <div class="widget-tags clearfix">
                                <ul class="sidebar-tad clearfix">
                                    <li>
                                        <a href="#">CSE</a>
                                    </li>
                                    <li>
                                        <a href="#">Business</a>
                                    </li>
                                    <li>
                                        <a href="#">Study</a>
                                    </li>
                                    <li>
                                        <a href="#">English</a>
                                    </li>
                                    <li>
                                        <a href="#">Education</a>
                                    </li>
                                    <li>
                                        <a href="#">Engineering</a>
                                    </li>
                                    <li>
                                        <a href="#">Advisor</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-40 widget-padding banner-padding white-bg">
                            <div class="banner-thumb pos-relative">
                                <img src="/img/courses/course_banner_01.png" alt="">
                                <div class="bannger-text">
                                    <h2>New eBook are availablei our shop</h2>
                                    <div class="banner-btn">
                                        <button class="btn white-bg-btn">shop now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer section-->
    <footer class="footer">
        <div class="bg-light py-3 py-md-4 py-xl-8 border-top border-light-subtle">
        <div class="container-fluid">
        <ul class="nav justify-content-center">
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item link-secondary px-2 px-md-3"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>

        <ul class="nav justify-content-center mt-2">
            <li class="nav-item">
              <a class="nav-link link-dark px-3" href="#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark px-3" href="#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                  <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark px-3" href="#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                </svg>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-dark px-3" href="#!">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                </svg>
              </a>
            </li>
          </ul>
    
      </div>
        </div>

        <div class="bg-light py-3 py-md-4 border-top border-light-subtle">
          <div class="container overflow-hidden">
            
              
                <div class="footer-copyright-wrapper text-center">
                  &copy; 2024. All Rights Reserved.
                </div>
                <div class="credits text-secondary text-center mt-2 fs-7">
                  WILSONH <a href="https://bootstrapbrain.com/" class="link-secondary text-decoration-none">SEC</a> SCHOOL 
                </div>
              
            
          </div>
        </div>  
      </footer>

      <!--Scroll to top-->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
    


    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>